@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

:root {
        --scrollbar-thumb-color: #2A323C;
        --scrollbar-thumb-hover-color: #1D232A;
    }
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 9999px;
        margin: 2px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
        border-radius: 9999px;
        border: 2px solid transparent;
        transition: background-color 0.3s ease;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-thumb-hover-color);
    }

}

.disabled{
    opacity: 0.6;
    cursor: not-allowed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.share-btn {
    @apply text-white py-2 px-4 rounded-lg transition-transform duration-200 ease-in-out;
}

.share-btn:hover {
    @apply transform scale-105;
    /* Button scales up when hovered */
}
