@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: #1D232A;
        border-radius: 9999px;
        margin: 2px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #2A323C;
        border-radius: 9999px;
        border: 2px solid #1D232A;
    }


}

.disabled{
    opacity: 0.6;
    cursor: not-allowed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.share-btn {
    @apply text-white py-2 px-4 rounded-lg transition-transform duration-200 ease-in-out;
}

.share-btn:hover {
    @apply transform scale-105;
    /* Button scales up when hovered */
}
