<div class="flex flex-col items-center">
    <div *ngFor="let post of posts" class="bg-darkgrey rounded-lg mt-2  md:w-5/6 sm:w-full shadow-lg md:shadow-none" [ngClass]="width">
        <div class="p-3">
            <!-- User Info -->
            <div class="flex justify-between items-center">
                <div class="flex justify-start gap-2 items-center">
                    <img class="w-[40px] h-[40px] rounded-full" [src]="post.author.profileImage" alt="Profile">
                    <div class="flex flex-col">
                        <span (click)="goToProfile(post)" class="text-[18px] text-yellow cursor-pointer">{{post.author.username}}</span>
                        <div class="flex items-center gap-2">
                            <span class="text-white text-[12px]">{{post.author.batch}}</span>
                            <span class="text-white text-[12px]">{{post.author.domain}}</span>
                            <span class="text-white text-[12px]">{{post.author.company}}</span>
                        </div>
                    </div>
                </div>
        
                <!-- 3-dot Menu (only for the post author) -->
                <div *ngIf="user == post.author._id||isMentor" class="relative">
                    <button (click)="toggleMenu(post)" class="text-white material-icons">
                        more_vert
                    </button>
        
                    <!-- Dropdown for Update/Delete -->
                    <div *ngIf="post.showMenu" class="absolute right-0 top-8 bg-dark text-white rounded shadow-lg">
                        <button *ngIf="!isMentor" (click)="updatePost(post)"
                            class="block w-full px-4 py-2 text-sm hover:bg-grey rounded">Edit</button>
                        <button (click)="confirmDelete(post)"
                            class="block w-full px-4 py-2 text-sm hover:bg-red rounded">Delete</button>
                    </div>
                    <div *ngIf="post.showDeleteWindow"
                        class="fixed inset-0 z-50 w-screen h-screen bg-dark bg-opacity-80 flex justify-center items-center">
                        <div class="w-fit h-24 bg-darkgrey flex flex-col justify-center items-center gap-5 rounded-lg p-2">
                            <p class="text-white">Are you sure you want to delete this post??</p>
                            <div class="flex flex-row justify-center items-center gap-5">
                                <button (click)="deletePostCancel(post)"
                                    class="bg-yellow rounded-lg text-white px-3 py-1">Cancel</button>
                                <button (click)="deletePost(post)" class="bg-red rounded-lg text-white px-3 py-1">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Post Content -->
            <div class="mt-2">
                <p class="text-white text-sm">{{post.caption}}</p>
                <div class="flex flex-wrap gap-2 mt-2">
                    <span *ngFor="let tag of post.tags" class="bg-yellow text-dark rounded-full px-2 py-1 text-xs">
                        {{tag}}
                    </span>
                </div>
                <p *ngIf="post.location" class="text-white text-xs mt-2">Location: {{post.location}}</p>
            </div>
        
            <!-- Media Slider -->
            <div *ngIf="post.media.length" class="flex justify-center overflow-x-auto m-0.5 bg-dark rounded-lg">
                <div class="image-slider flex">
                    <div class="image-slide flex">
                        <ng-container *ngFor="let media of post.media; let i = index">
                            <div class="relative m-2 flex-shrink-0">
                                <div class="absolute right-0 top-0 p-1 text-sm bg-dark bg-opacity-90 m-1 rounded-xl">{{i+1}}/{{post.media.length}}</div>
                                <img [src]="media.url" class="object-cover h-80 w-100 rounded-md cursor-pointer" alt="Image"
                                    (click)="openModal(media)">
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div *ngIf="modalImage"
                class="fixed inset-0 z-50 flex items-center w-full h-screen justify-center bg-dark bg-opacity-70"
                (click)="closeModal()">
                <div class="bg-white p-0.5 z-40 rounded-lg pointer-events-auto" (click)="$event.stopPropagation()">
                    <img [src]="modalImage.url" class="object-contain max-h-[70vh] max-w-full " alt="Image">
                </div>
            </div>
            <div *ngIf="post.showShare">
                <app-share-buttons [post]="post"></app-share-buttons>
            </div>

            

        
            <!-- Actions -->
            <div class="flex justify-around mt-4">
                    <button (click)="likePost(post)" class="flex items-center gap-1"
                        [ngClass]="{'text-yellow': post.isLiked, 'text-white': !post.isLiked}">
                        <span class="material-icons">thumb_up</span>
                        <span>{{post.likes.length}}</span>
                    </button>
                <button (click)="toggleComments(post)" class="flex items-center gap-1 text-white">
                    <span class="material-icons">comment</span>
                    <span>{{post.comments.length}}</span>
                </button>
                <button (click)="sharePost(post)" class="flex items-center gap-1 text-white">
                    <span class="material-icons">share</span>
                </button>
            </div>
            <div (click)="togglelikes(post)" class="text-xs mx-[8vw] md:mx-[7vw] lg:mx-[4vw] mt-2 text-white">view likes</div>

            <!-- like section -->
            <div *ngIf="post.showLikes" class="mt-4">
                <div *ngFor="let like of post.likes" class="flex flex-row justify-between items-end mb-2">
                    <div class="flex flex-row items-center gap-2">
                        <img class="w-[30px] h-[30px] rounded-full" [src]="like.liker.profileImage" alt="Profile">
                        <div class="flex flex-col">
                            <div class="text-yellow text-sm">{{ like.liker.username }}</div>
                            <div class="text-white text-[9px] text-left">{{ getTimeAgo(like.likedAt) }}</div>
                        </div>
                    </div>
                </div>

            </div>
        
            <div *ngIf="post.showComments" class="mt-4">
                <!-- Comments List -->
                <div *ngFor="let comment of post.comments" class="flex flex-row justify-between items-start mb-2">
                    <!-- Comment Details -->
                    <div class="flex flex-row items-start gap-2">
                        <img class="w-[30px] h-[30px] rounded-full" [src]="comment.commenter.profileImage" alt="Profile">

                        <!-- Check if comment is being edited -->
                        <div *ngIf="comment.isEditing; else displayComment">
                            <input [(ngModel)]="comment.editedText" class="w-full p-2 rounded-lg bg-darkgrey text-white outline-none" />
                            <div class="flex gap-2 mt-2">
                                <button (click)="saveComment(post, comment)" class="bg-green text-white p-2 rounded-lg">Save</button>
                                <button (click)="cancelEdit(comment)" class="bg-red text-white p-2 rounded-lg">Cancel</button>
                            </div>
                        </div>
                        <!-- Comment Display Mode -->
                        <ng-template #displayComment>
                            <div>
                                <div class="text-yellow text-sm">{{ comment.commenter.username }}</div>
                                <div class="text-white text-xs md:text-sm">{{ comment.text }}</div>
                            </div>
                        </ng-template>
                        <div class="w-full h-0.5 bg-grey bg-opacity-50 mt-2 rounded-xl"></div>
                    </div>
            
                    <!-- Comment Timestamp -->
                    <div class="text-white text-[9px] ml-2">{{ getTimeAgo(comment.createdAt) }}</div>
            
                    <!-- Dropdown for Edit/Delete based on permissions -->
                    <div *ngIf="comment.isCommentEditable || comment.isCommentDeleteable" class="relative">
                        <button (click)="toggleCommentMenu(post, comment)" class="text-white material-icons">more_vert</button>
            
                        <!-- Dropdown for Update/Delete -->
                        <div *ngIf="comment.showMenu" class="absolute right-0 top-8 bg-dark text-white rounded shadow-lg">
                            <!-- Only show Update button for the comment creator -->
                            <button *ngIf="comment.isCommentEditable" (click)="editComment(comment)"
                                class="block w-full px-4 py-2 text-sm hover:bg-grey rounded z-50">Edit</button>
                            <!-- Show Delete button for both comment creator and post author -->
                            <button *ngIf="comment.isCommentDeleteable" (click)="confirmDeleteComment(post,comment)"
                                class="block w-full px-4 py-2 text-sm hover:bg-red rounded z-50">Delete</button>
                        </div>
                    </div>
                    <div *ngIf="comment.isDeleteWindow" class="fixed inset-0 z-50 w-screen h-screen bg-dark bg-opacity-80 flex justify-center items-center">
                        <div class="w-fit h-24 bg-darkgrey flex flex-col justify-center items-center gap-5 rounded-lg p-2">
                            <p class="text-white">Are you sure you want to delete this comment?</p>
                            <div class="flex flex-row justify-center items-center gap-5">
                                <button (click)="deleteCommentCancel(comment)" class="bg-yellow rounded-lg text-white px-3 py-1">Cancel</button>
                                <button (click)="deleteComment(post,comment)" class="bg-red rounded-lg text-white px-3 py-1">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Add Comment Input -->
                <div class="flex items-center gap-2 mt-2">
                    <input type="text" [(ngModel)]="newComment" placeholder="Add a comment..."
                        class="w-full p-2 rounded-lg bg-darkgrey text-white outline-none" />
                    <button (click)="addComment(post)" class="bg-green text-white p-2 rounded-lg">Post</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="posts.length===0"
        class="bg-darkgrey rounded-lg mt-2 md:w-5/6 sm:w-full shadow-lg md:shadow-none animate-pulse" [ngClass]="width">
        <div class="flex justify-between items-center">
            <div class="flex justify-start gap-2 items-center">
                <!-- Profile Image Skeleton -->
                <div class="w-[40px] h-[40px] rounded-full bg-dark"></div>
                <div class="flex flex-col">
                    <!-- Name/Title Skeleton -->
                    <span class="w-[100px] h-[20px] rounded-sm bg-dark"></span>
                    <div class="flex items-center gap-2">
                        <!-- Meta Info Skeleton -->
                        <span class="w-[40px] h-[15px] rounded-sm bg-dark"></span>
                        <span class="w-[40px] h-[15px] rounded-sm bg-dark"></span>
                        <span class="w-[40px] h-[15px] rounded-sm bg-dark"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-2">
            <span class="w-[200px] h-[15px] rounded-sm bg-dark"></span>
            <div class="flex flex-wrap gap-2 mt-2">
                <span class="w-[150px] h-[15px] rounded-sm bg-dark"></span>
            </div>
            <span class="w-[180px] h-[15px] rounded-sm bg-dark"></span>
        </div>
        <div class="flex justify-center overflow-x-auto m-0.5 bg-dark rounded-lg">
            <div class="image-slider flex">
                <div class="image-slide flex">
                    <ng-container>
                        <div class="relative m-2 flex-shrink-0">
                            <div class="bg-darkgrey object-cover h-80 w-[100px] rounded-md cursor-pointer"></div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>  
        <div class="flex justify-around mt-4">
            <button class="flex items-center gap-1 text-dark">
                <span class="material-icons bg-dark w-6 h-6 rounded-full"></span>
            </button>
            <button class="flex items-center gap-1 text-dark">
                <span class="material-icons bg-dark w-6 h-6 rounded-full"></span>
            </button>
            <button class="flex items-center gap-1 text-dark">
                <span class="material-icons bg-dark w-6 h-6 rounded-full"></span>
            </button>
        </div>
    </div>

</div>

