<div class="flex flex-col min-h-screen">
    <app-header class="fixed top-0 left-0 w-full z-10"></app-header>
    <div class="flex flex-1">
        <app-side-bar class="fixed top-16 left-0 w-64 z-10"></app-side-bar>
        <div class="flex-1 mt-20 md:ml-64">
            <div *ngIf="isLoggedIn; else login" class="w-auto">
                <router-outlet></router-outlet>
            </div>
            <ng-template #login>
                <router-outlet></router-outlet>
            </ng-template>
        </div>
    </div>
</div>