<div class="w-full py-1 flex flex-row justify-evenly items-center bg-darkgrey">
    <div (click)="setActiveSection('home')" class="cursor-pointer p-2">
        <i *ngIf="activeSection==='home'" class="fa-solid fa-house text-yellow transition-colors duration-300"></i>
        <i *ngIf="activeSection!=='home'"
            class="fa-solid fa-house text-white hover:text-yellow transition-colors duration-300"></i>
    </div>
    <div (click)="setActiveSection('search')" class="cursor-pointer p-2">
        <i *ngIf="activeSection==='search'"
            class="fa-solid fa-magnifying-glass text-yellow transition-colors duration-300"></i>
        <i *ngIf="activeSection!=='search'"
            class="fa-solid fa-magnifying-glass text-white hover:text-yellow transition-colors duration-300"></i>
    </div>
    <div *ngIf="isAlumni" (click)="setActiveSection('post')" class="cursor-pointer p-2">
        <i *ngIf="activeSection==='post'" class="fa-solid fa-plus text-yellow transition-colors duration-300"></i>
        <i *ngIf="activeSection!=='post'"
            class="fa-solid fa-plus text-white hover:text-yellow transition-colors duration-300"></i>
    </div>

    <div *ngIf="isMentor" (click)="setActiveSection('register')" class="cursor-pointer p-2">
        <i *ngIf="activeSection==='register'"
            class="fa-solid fa-pen-to-square text-yellow transition-colors duration-300"></i>
        <i *ngIf="activeSection!=='register'"
            class="fa-regular fa-pen-to-square text-white hover:text-yellow transition-colors duration-300"></i>
    </div>

    <div (click)="setActiveSection('message')" class="cursor-pointer p-2">
        <i *ngIf="activeSection==='message'" class="fa-solid fa-message text-yellow transition-colors duration-300"></i>
        <i *ngIf="activeSection!=='message'"
            class="fa-regular fa-message text-white hover:text-yellow transition-colors duration-300"></i>
    </div>

    <!-- Event Icon -->
    <div (click)="setActiveSection('event')" class="cursor-pointer p-2">
        <i *ngIf="activeSection==='event'"
            class="fa-solid fa-calendar-plus text-yellow transition-colors duration-300"></i>
        <i *ngIf="activeSection!=='event'"
            class="fa-regular fa-calendar-plus text-white hover:text-yellow transition-colors duration-300"></i>
    </div>
</div>