<div class="flex justify-center items-center">
    <div class="bg-darkgrey rounded-lg mt-4 mx-5 lg:w-3/6 sm:w-4/5">
        <div class="flex justify-between p-2 shadow-lg">
            <span class="text-yellow">Update Post</span>
            <span (click)="navigate()" class="material-icons-round text-yellow">cancel</span>
        </div>
        <form [formGroup]="postForm" (ngSubmit)="updatePost($event)">
            <div class="flex justify-start gap-2 items-center px-3">
                <img class="w-[40px] h-[40px] rounded-full" [src]="profileImage" alt="Profile">
                <div class="flex flex-col md:flex-row justify-start p-3">
                    <div>
                        <span class="text-[18px] text-yellow">{{name}}</span>
                    </div>
                    <div class="flex justify-start items-center gap-2 md:ps-5 md:gap-5">
                        <span class="text-white text-[12px]">{{batch}}</span>
                        <span class="text-white text-[12px]">{{domain}}</span>
                        <span class="text-white text-[12px]">{{company}}</span>
                    </div>
                </div>
            </div>

            <!-- Caption Field -->
            <div class="flex justify-center flex-col mx-3">
                <textarea formControlName="caption" maxlength="1000" required
                    class="w-full h-[60px] lg:h-[100px] text-sm lg:text-xl p-2 rounded-lg bg-darkgrey text-white outline-none"
                    placeholder="Write a caption..."></textarea>
                <span class="text-red text-xs">Max 1000 characters</span>
                <div
                    *ngIf="postForm.get('caption')?.invalid && (postForm.get('caption')?.touched || postForm.get('caption')?.dirty)">
                    <span class="text-red text-xs">Caption is required and cannot exceed 1000 characters.</span>
                </div>
            </div>

            <!-- Tag Input -->
            <div class="mx-1 w-full flex flex-row lg:flex-col justify-center gap-1 items-center my-1">
                <div class="w-full flex justify-center text-xs lg:text-sm">
                    <input type="text" formControlName="tags" placeholder="Add tags (comma separated)"
                        class="w-full mx-2 p-2 rounded-lg bg-darkgrey text-white outline-none">
                </div>
                <div class="w-full flex justify-center text-xs lg:text-sm">
                    <input type="text" formControlName="location" placeholder="Add location City, State"
                        class="w-full mx-2 p-2 rounded-lg bg-darkgrey text-white outline-none">
                </div>
            </div>

            <!-- Image Upload -->
            <div *ngIf="showimg" class="flex justify-center overflow-x-auto m-2 bg-dark rounded-lg">
                <div class="image-slider flex">
                    <div class="image-slide flex">
                        <ng-container *ngFor="let postimg of postimages; let i = index">
                            <div class="relative m-2 flex-shrink-0">
                                <img [src]="postimg.url" class="object-cover h-60 w-60 rounded-md cursor-pointer"
                                    alt="Image" (click)="openModal(postimg)">
                                <span
                                    class="absolute top-0 right-0 m-1 w-[25px] h-[25px] bg-red-500 text-center text-red bg-dark rounded-full cursor-pointer"
                                    (click)="removeimg(postimg)">x</span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div *ngIf="modalImage"
                class="fixed inset-0 flex items-center w-screen h-screen justify-center bg-dark bg-opacity-70"
                (click)="closeModal()">
                <div class="bg-white p-4 rounded-lg pointer-events-auto" (click)="$event.stopPropagation()">
                    <img [src]="modalImage.url" class="object-contain max-h-[70vh] max-w-full" alt="Image">
                </div>
            </div>

            <div class="flex justify-center flex-row gap-2 m-3">
                <div class="flex justify-start">
                    <label
                        class="cursor-pointer flex items-center justify-center h-[40px] w-[40px] rounded-3xl bg-dark text-white p-2"
                        for="fileInput">
                        <input type="file" id="fileInput" accept="image/*" (change)="imgprev($event)" multiple
                            class="hidden" />
                        <span class="material-icons text-white text-1xl">add</span>
                    </label>
                </div>
                <button type="submit" [disabled]="postForm.invalid"
                    class="w-full h-[40px] bg-green text-white rounded-lg">Update</button>
            </div>
        </form>
    </div>
</div>