<div class="relative p-2 w-screen md:w-full shadow-sm rounded-lg bg-darkgrey">
    <!-- Search Bar -->
    <div class="p-2 lg:px-5 bg-darkgrey rounded-lg shadow-lg flex justify-between items-center">
        <h2 class="text-sm md:text-base lg:text-xl text-yellow font-medium">{{ title }}</h2>
        <div class="relative mt-1 ms-10 md:ms-36 lg:ms-48">
            <div class="absolute inset-y-0 left-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-grey" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 19L15 15M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="text" [(ngModel)]="filterText" placeholder="Search by username, email or rollno" class="block p-2 ps-10 text-sm text-white text-opacity-70 rounded-lg w-32 md:w-40 lg:w-80 bg-dark 
                    focus:ring-grey focus:ring-opacity-50 focus:ring-2 focus:outline-none">
        </div>
    </div>

    <!-- Table -->
    <div class="overflow-x-auto mt-2">
        <table class="text-white text-sm text-left w-full">
            <thead class="bg-gray-700 uppercase text-xs">
                <tr>
                    <th class="px-4 py-3">Username</th>
                    <th class="px-4 py-3">Email</th>
                    <th class="px-4 py-3">Roll Number</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filteredData()" class="border-b border-gray-600 hover:bg-dark">
                    <td class="px-4 py-2">{{ item.username }}</td>
                    <td class="px-4 py-2">{{ item.email }}</td>
                    <td class="px-4 py-2">{{ item.rollno }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

